.dictionary {
  position: absolute;
  grid-area: dictionary;
  padding: 40px 0;
  .bgImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    height: 95%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    .link {
      width: 100%;
      height: 100%;
    }
  }
}