.wordSettingsBox {
    .mainSection {
        position: relative;
        width: 100%;
        padding: 10px 15px;
        background: rgba(255, 255, 255, 0.58);
        border-radius: 10px;
        .word {
            display: grid;
            grid-template-columns: auto auto;
            justify-content: left;
            p {
                margin: 0 0 10px;
            }
        }
        textarea {
            padding: 5px 10px;
            width: 100%;
            height: 80px;
            font-size: 17px;
            box-sizing: border-box;
        }
        .buttonSection {
            display: grid;
            grid-template-columns: auto auto auto;
            justify-content: space-between;
            text-align: center;
            button, a {
                padding: 0;
                margin: 0;
                text-decoration: none;
                background: transparent;
                border: none;
                font-size: 18px;
                color: #19558C;
                &:hover {
                    color: darken($color: #19558C, $amount: 10%)
                }
            }
        }
    }
    .yesNoSection, .finalSection {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2.5px solid #2E2E2E;
        border-radius: 20px;
    }
    .yesNoSection {
        display: grid;
        justify-self: center;
        grid-template-columns: auto auto;
        background: url('../../common/img/yesNoBg.png') 0 0 no-repeat;
        background-size: cover;
        button {
            background: transparent;
            padding: 70px 60px;
            border: none;
            font-size: 25px;
            font-weight: 600;
            color: #2F4E2C;
            &:last-child {
                border-left: 3px solid #000;
            }
        }
    }
    .finalSection {
        padding: 50px;
        background: url('../../common/img/yesNoBg.png') 0 0 no-repeat;
        background-size: cover;
        border: 1px solid #2E2E2E;
        border-radius: 10px;
        span {
            font-size: 25px;
            font-weight: 600;
            color: #2F4E2C;
        }
    }
}

.displayIB {
    display: inline-block;
}

.displayNone {
    display: none !important;
}


@media(max-width: 400px) {
    .wordSettingsBox {
        .yesNoSection {
            button {
                padding: 45px 35px;
            }
        }
    }
}