.allWordsBox {
    padding: 30px 20px;
    position: absolute;
    top: -20vh;
    bottom: 0;
    right: -20vw;
    left: 0;
    background: rgba(196, 196, 196, 0.79);
    // .paginatorBox {
    //     .paginator {
    //         display: grid;
    //         grid-template-columns: auto auto auto;
    //         justify-content: space-between;
    //         position: absolute;
    //         bottom: 0;
    //         padding: 10px 0;
    //         width: 95%;
    //         button {
    //             background: none;
    //             border: none;
    //             img {
    //                 width: 80%;
    //             }
    //         }
    //         span {
    //             font-size: 22px;
    //         }
    //     }
    // }
}

// .opacity {
//     opacity: 0.5;
// }