textarea {
    width: 0;
    height: 50px;
}
.addWordBox {
    // position: relative;
    div {
        position: absolute;
        top: 35%;
        transform: translateY(-50%);
        width: 100%;
        background: rgba(255, 255, 255, 0.58);
        border-radius: 10px;
        text-align: right;
        input, textarea {
            display: block;
            padding: 8px 10px;
            width: 100%;
            font-size: 17px;
            border-radius: 10px;
            box-sizing: border-box;
        }
        button, a {
            margin: 10px;
            text-decoration: none;
            background: transparent;
            border: none;
            font-size: 20px;
            color: #19558C;
            &:hover {
                color: darken($color: #19558C, $amount: 10%)
            }
        }
    }
    .savedSection {
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 50px;
        width: auto;
        background: url('../../common/img/yesNoBg.png') no-repeat;
        background-size: cover;
        border: 1px solid #2E2E2E;
        border-radius: 10px;
        span {
            font-size: 25px;
            font-weight: 600;
            color: #2F4E2C;
        }
    }
}

.displayNone {
    display: none;
}

